.botao-editar {
  padding: 6px 10px;

  border: none;
  border-radius: 6px;

  background-color: var(--color-azul-po);
  color: var(--color-petroleo);

  font-family: inherit;
  font-size: 13px;
  font-weight: 700;

  cursor: pointer;

  transition:
    transform 0.2s ease,
    opacity 0.2s ease;
}

.botao-editar:hover {
  transform: scale(1.05);
}

.botao-editar:active {
  transform: scale(0.98);
}
