.botao-visualizar {
  padding: 6px 10px;

  border: none;
  border-radius: 6px;

  background-color: rgb(56, 55, 55);
  color: white;

  font-family: inherit;
  font-size: 14px;
  font-weight: 550;

  cursor: pointer;

  transition:
    transform 0.2s ease,
    opacity 0.2s ease;
}

.botao-visualizar:hover {
  transform: scale(1.05);
}

.botao-visualizar:active {
  transform: scale(0.98);
}
