.pagina {
  background-color: white;

  border-radius: 12px;
  padding: 30px;

  height: 100%;
  width: 100%;

  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.15);

  display: flex;
  flex-direction: column;

  gap: 30px;

  min-height: 0;
  overflow: hidden;
}

.topo {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.cabecalho {
  display: flex;
  flex-direction: column;

  flex-shrink: 0;
}

.contador {
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
  align-items: center;
}

.titulo,
.quantidade {
  margin-bottom: 4px;
}

.subtitulo,
.valor {
  margin-top: 0px;
}

.corpo {
  display: flex;
  flex: 1;
  flex-direction: column;

  min-height: 0;

  gap: 18px;

  overflow: hidden;
}

.interacoes {
  flex-shrink: 0;

  display: flex;
  align-items: center;

  gap: 12px;
}

.interacoes app-input {
  flex: 1;
  max-width: 100%;
}

app-tabela {
  display: block;
  flex: 1;
  min-height: 0;
}

.campos {
  display: flex;
  flex-direction: column;

  gap: 10px;
}

.formulario-criacao {
  display: flex;
  flex-direction: column;

  gap: 30px;
}

.acoes-form {
  display: flex;
  justify-content: space-between;
}

.erro-formulario {
  color: rgb(174, 0, 0);
  margin: 0px;
}
