.tag {
  display: inline-block;

  padding: 5px 10px;

  border-radius: 20px;

  font-size: 14px;
  font-weight: 500;

  white-space: nowrap;
}

.concluida {
  background-color: rgb(2, 98, 65);
  color: white;
}

.em_andamento {
  background-color: rgb(194, 144, 86);
  color: black;
}

.pendente {
  background-color: rgb(159, 29, 29);
  color: white;
}

.eletronico {
  background-color: #aab9c2;
  color: black;
}

.alimento {
  background-color: #c89b3c;
  color: black;
}

.roupa {
  background-color: var(--color-champagne);
  color: var(--color-petroleo);
}

.brinquedo {
  background-color: rgb(0, 214, 86);
  color: var(--color-petroleo);
}

.higiene {
  background-color: #b4e6cf;
  color: black;
}

.em_analise {
  background-color: rgb(194, 144, 86);
  color: var(--color-petroleo);
}

.entregue {
  background-color: rgb(6, 148, 98);
  color: black;
}

.a_caminho {
  background-color: rgb(2, 48, 185);
  color: var(--color-petroleo);
}

.atrasado {
  background-color: rgb(223, 85, 6);
  color: black;
}

.cancelado {
  background-color: var(--color-perigo);
  color: white;
}

.confirmado {
  background-color: rgb(133, 34, 220);
  color: black;
}

.ativo {
  background-color: rgb(162, 162, 162);
  color: var(--color-petroleo);
}

.inativo {
  background-color: var(--color-neblina);
  color: var(--color-texto-suave);
}

.padrao {
  background-color: rgb(126, 76, 0);
  color: white;
}

.premium {
  background-color: rgb(255, 174, 0);
  color: var(--color-petroleo);
}

.empresarial {
  background-color: var(--color-petroleo);
  color: var(--color-marfim);
}

.disponivel {
  background-color: rgb(2, 98, 65);
  color: white;
}

.indisponivel {
  background-color: rgb(124, 4, 4);
  color: white;
}
