.tag {
  display: inline-block;

  padding: 5px 10px;

  border-radius: 20px;

  font-size: 13px;
  font-weight: 700;

  white-space: nowrap;
}

.concluida {
  background-color: rgb(2, 98, 65);
  color: white;
}

.em_andamento {
  background-color: rgb(194, 144, 86);
  color: black;
}

.pendente {
  background-color: rgb(159, 29, 29);
  color: white;
}

.eletronico {
  background-color: var(--color-azul-po);
  color: var(--color-petroleo);
}

.alimento {
  background-color: var(--color-salvia);
  color: var(--color-petroleo);
}

.roupa {
  background-color: var(--color-champagne);
  color: var(--color-petroleo);
}

.brinquedo {
  background-color: var(--color-marfim);
  color: var(--color-petroleo);
}

.higiene {
  background-color: var(--color-neblina);
  color: var(--color-petroleo);
}

.entregue {
  background-color: var(--color-salvia);
  color: var(--color-petroleo);
}

.a_caminho {
  background-color: var(--color-azul-po);
  color: var(--color-petroleo);
}

.atrasado {
  background-color: var(--color-champagne);
  color: var(--color-petroleo);
}

.cancelado {
  background-color: var(--color-perigo);
  color: white;
}

.confirmado {
  background-color: var(--color-petroleo);
  color: var(--color-marfim);
}

.ativo {
  background-color: var(--color-salvia);
  color: var(--color-petroleo);
}

.inativo {
  background-color: var(--color-neblina);
  color: var(--color-texto-suave);
}

.padrao {
  background-color: var(--color-neblina);
  color: var(--color-texto-suave);
}

.premium {
  background-color: var(--color-champagne);
  color: var(--color-petroleo);
}

.empresarial {
  background-color: var(--color-petroleo);
  color: var(--color-marfim);
}
