<div class="tabela-container">
  <table class="tabela">
    <thead>
      <tr>
        @for (coluna of colunas; track coluna.campo) {
          <th>
            <div class="conteudo-coluna" [style.width]="coluna.largura">
              {{ coluna.titulo }}
            </div>
          </th>
        }
        @if (mostrarBotoes || mostrarVisualizar) {
          <th></th>
        }
      </tr>
    </thead>

    <tbody>
      @for (linha of dados; track linha.id) {
        <tr>
          @for (coluna of colunas; track coluna.campo) {
            <td>
              <div
                class="conteudo-coluna"
                [class.conteudo-truncado]="coluna.truncar"
                [style.width]="coluna.largura"
                [attr.title]="coluna.truncar ? valorCelula(linha, coluna.campo) : null"
              >
                @if (coluna.mostrarComoTag) {
                  <app-tag
                    [tipo]="tipoDaTag(linha, coluna)"
                    [texto]="textoDaTag(linha, coluna)"
                  ></app-tag>
                } @else {
                  {{ valorCelula(linha, coluna.campo) }}
                }
              </div>
            </td>
          }

          @if (mostrarBotoes || mostrarVisualizar) {
            <td>
              <div class="botoes">
                @if (mostrarVisualizar) {
                  <app-botao-visualizar (clicado)="aoVisualizar(linha.id)"></app-botao-visualizar>
                }

                @if (mostrarBotoes) {
                  <app-botao-editar (clicado)="aoEditar(linha.id)"></app-botao-editar>

                  <app-botao-deletar (clicado)="aoDeletar(linha.id)"></app-botao-deletar>
                }
              </div>
            </td>
          }
        </tr>
      }
    </tbody>
  </table>
</div>
