<div class="tabela-container">
  <table class="tabela">
    <thead>
      <tr>
        @for (coluna of colunas; track coluna.campo) {
          <th>{{ coluna.titulo }}</th>
        }
        @if (mostrarBotoes || mostrarVisualizar) {
          <th></th>
        }
      </tr>
    </thead>

    <tbody>
      @for (linha of dados; track linha.id) {
        <tr>
          @for (coluna of colunas; track coluna.campo) {
            <td>
              @if (coluna.mostrarComoTag) {
                <app-tag
                  [tipo]="tipoDaTag(linha, coluna)"
                  [texto]="textoDaTag(linha, coluna)"
                ></app-tag>
              } @else {
                {{ valorCelula(linha, coluna.campo) }}
              }
            </td>
          }

          @if (mostrarBotoes || mostrarVisualizar) {
            <td>
              <div class="botoes">
                @if (mostrarVisualizar) {
                  <app-botao-visualizar (clicado)="aoVisualizar(linha.id)"></app-botao-visualizar>
                }

                @if (mostrarBotoes) {
                  <app-botao-editar (clicado)="aoEditar(linha.id)"></app-botao-editar>

                  <app-botao-deletar (clicado)="aoDeletar(linha.id)"></app-botao-deletar>
                }
              </div>
            </td>
          }
        </tr>
      }
    </tbody>
  </table>
</div>
