/* You can add global styles to this file, and also import other style files */
* {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
}

body {
  min-height: 100vh;
}

:root {
  --color-petroleo: #001c1a;
  --color-petroleo-suave: #0b302d;
  --color-salvia: #b5c3ae;
  --color-azul-po: #a8b8c2;
  --color-champagne: #d1b279;
  --color-marfim: #f6f2e8;
  --color-neblina: #ece9e1;
  --color-texto-suave: #5f6d68;

  --color-perigo: #b80f03;
  --color-sucesso: #046e2b;
}
